.container{
  width: 100%;
  margin: 0;
}

.hero img{
  border-radius: 0;
  object-fit: cover;
}

aside.right{
  float: inherit;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  text-align: center;
}

aside.left{
  float: inherit;
  text-align: center;
}
